@import "tailwindcss";

.btn{
    background-color: gray;
}
.btn:hover{
    background-color: rgb(63, 60, 60)
}
.nav_links{
    color: white;
   list-style-type: none;
}
.nav_links:hover{
    color: gray;
}
.link{
    color:white
}
.link:hover{
    color:gray
}
.btn2{
background-color: yellow;
}
.btn3{
background-color: red;
color:black;

}